/* common */
a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: rgb(17, 0, 173);
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

input,
textarea,
select {
    border: 1px solid #ccc;
    border-radius: 5p;
    padding: 5px 10px;
}

/* ====================================================================== */

/* Header */
header {
    background-color: #fff;
    color: #000;
}

.header-order-menu {
    padding: 10px 20px;
    background: #000;
    text-align: center;
    color: #fff;
}

.header-order-menu a {
    color: #fff;
}

nav.navbar.navbar-light.navbar-expand-lg {
    padding: 0;
}

.header-button-action {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.header-button-action i{
    margin-right: 5px;
}
.ur-frontend-form {
    max-width: 700px;
    margin: auto;
    border: none;
}

div#sign-in .modal-body #loginform p {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}

div#sign-in .modal-body #loginform p #user_login, .modal-body #loginform p #user_pass {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: auto;
    width: 100%;
    max-width: calc(100% - 100px);
}

div#sign-in .modal-header h5 {
    margin: auto;
    text-transform: uppercase;
}

.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) #respond input#submit, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) a.button, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) input.button, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce #respond input#submit, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce a.button, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce button.button, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce input.button,.ur-frontend-form button, .ur-frontend-form input[type="submit"], .ur-frontend-form button[type="submit"] {
    background: #000;
    color: #fff;
}

.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) #respond input#submit:hover, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) a.button:hover, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button:hover, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) input.button:hover, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce #respond input#submit:hover, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce a.button:hover, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce button.button:hover, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce input.button:hover, .ur-frontend-form button:hover, .ur-frontend-form input[type="submit"]:hover, .ur-frontend-form button[type="submit"]:hover {
    color: #fff;
    background: #eba53d;
}

button.close {
    background: #fff;
    border: 1px solid #f00;
    color: #f00;
    border-radius: 5px;
}
.polylang-mobile-header ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
}

.polylang-mobile-header ul li {
    margin-left: 10px;
}

.polylang-mobile-header ul li:first-child{
    margin-left: 0;
}

.polylang-mobile-header {
    width: auto;
    display: none;
}

@media only screen and (max-width: 991px) {
    .navbar>.container-fluid {
        justify-content: unset;
    }
    .header-button-action i{
        margin-right: 0;
    }
    .header-button-action span{
        display: none;
    }
    .header-order-menu{
        padding: 5px 10px;
    }
    .header-order-menu a {
        font-size: 14px;
    }
    .navbar-light .navbar-brand{
        display: flex !important;
        align-items: center;
    }
    .header-order-menu {
        display: none;
    }
    .polylang-mobile-header {
        display: block;
    }
}

/* Nav menu */
#main-menu>li>a {
    color: #000;
    transition: 0.1s all linear;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    display: block;
}

#main-menu>li>a:hover,
#main-menu>li.current-menu-item>a,
.footer-menu li.current-menu-item a {
    color: #f8a230;
    /* background-color: #000; */
    /* border-radius: 5px; */
}

ul#main-menu {
    align-items: center;
}

#main-menu>li>a::before,
.footer-menu li a::before {
    content: "";
    height: .17em;
    bottom: -.2em;
    left: .5rem;
    width: 0;
    position: absolute;
    background-color: #f8a230;
    transition: width .2s;
    visibility: hidden;
}

#main-menu>li>a:hover::before,
.footer-menu li a:hover::before,
.footer-menu li.current-menu-item a::before,
#main-menu>li.current-menu-item>a::before {
    height: 2px;
    bottom: 0;
    width: 25px;
    visibility: visible;
}
/* ====================================================================== */

/* Main */
.main-content {
    padding: 50px 0;
    min-height: 500px;
}

.section-block-header {
    text-align: center;
    margin: 60px 0;
}

.section-block-header .h2 {
    font-size: 5.1rem;
}

.home-banner-wrap img {
    width: 100%;
    display: block;
}

section.home-banner.home-full-banner {
    display: block;
    width: 100%;
    margin: 30px 0;
}

@media only screen and (max-width: 800px) {

    section.home-banner.home-full-banner {
        margin: 15px 0;
    }

    .section-block-header .h2 {
        font-size: 3.1rem;
    }

    .section-block-header {
        text-align: center;
        margin: 30px 0;
    }
}


@media only screen and (max-width: 400px) {
    .section-block-header .h2 {
        font-size: 2.1rem;
    }
}

/* ====================================================================== */


/* Products */
.woocommerce ul.products {
    display: flex;
    flex-wrap: wrap;
}

.woocommerce ul.products li.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    float: none;
}

.woocommerce ul.products::before,
.woocommerce ul.products::after {
    display: none !important;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3 {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.woocommerce ul.products li.product .price {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.woocommerce .product .price del {
    margin-right: 10px;
    color: #000;
}

.woocommerce .product .price ins {
    text-decoration: none;
    color: #f00;
}

.woocommerce div.product form.cart .button,
.woocommerce ul.products li.product .button {
    display: inline-block;
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 10px 18px;
    border-radius: 5px;
    transition: 0.1s all linear;
    border: 1px solid #000;
}

.woocommerce ul.products li.product .button:nth-child(2) {
    margin-right: 10px;
}

.woocommerce div.product form.cart .button:hover,
.woocommerce ul.products li.product .button:hover {
    background-color: #fff;
    color: #000;
}

.woocommerce .woocommerce-ordering,
.woocommerce .woocommerce-result-count {
    margin: 30px 0;
}

.woocommerce a.added_to_cart {
    display: none;
}

.woocommerce ul.products li.product .star-rating {
    display: none;
}

.woocommerce div.product form.cart div.quantity {
    float: left;
    margin: 0 4px 0 0;
    margin-right: 15px;
}

.woocommerce .quantity .qty {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.woocommerce span.onsale {
    background: #f00;
    width: 40px;
    height: 40px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* quick view */
#yith-quick-view-modal #yith-quick-view-content {
    height: 100%;
    padding: 12px;
    border-radius: 10px;
}

@media only screen and (max-width: 800px) {
    .woocommerce ul.products {
        justify-content: space-between;
    }
}

/* ====================================================================== */

/* 404 */
.error-content {
    text-align: center;
    padding: 100px 0;
    min-height: 500px;
}

/* ====================================================================== */

/* MY ACCOUNT */
.woocommerce-account .woocommerce-MyAccount-navigation ul {
    list-style: none;
    padding: 0;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li a {
    display: block;
    width: 100%;
    padding: 5px 10px;
    background: #ddd9d9;
    color: #505050;
    border-radius: 3px;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li {
    margin-bottom: 5px;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li.is-active a,
.woocommerce-account .woocommerce-MyAccount-navigation ul li a:hover {
    background: #000;
    color: #fff;
}

.woocommerce-account .woocommerce-MyAccount-content {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.woocommerce-account .addresses .title .edit {
    background: #878585;
    color: #fff;
    padding: 3px 10px;
    border-radius: 5px;
    font-size: 12px;
}

.woocommerce-account .addresses .title .edit:hover {
    background: #000;
}

header.woocommerce-Address-title.title {}

.wps_wpr_common_table td {
    padding: 0 24px;
}

/*=======================================================================*/
/* CONTACT */
.wpcf7-form-control {
    border: 1px solid #ccc;
    width: 100%;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 5px;
}

input.wpcf7-form-control.has-spinner.wpcf7-submit {
    width: auto;
    display: block;
    margin: auto;
}

form.wpcf7-form.init {
    /* text-align: center; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
}

form.wpcf7-form.init>* {
    /* display: flex; */
    /* width: 100%; */
}

span.wpcf7-form-control-wrap {
    display: block;
    width: 100%;
    font-weight: initial;
}

form.wpcf7-form.init label {
    width: 100%;
    display: block;
    font-weight: 600;
}

.wpcf7-form-control:focus,
.wpcf7-form-control:focus-visible {
    border: 1px solid #ccc !important;
}

/*===========================================*/
/* Footer */
footer {
    background-color: #fff;
    color: #000;
}

footer img {
    max-width: 100px !important;
    width: 100%;
}

ul#footer-menu {
    margin-bottom: 0;
}

.footer-menu li a {
    padding: 10px;
    display: block;
    color: #000;
    transition: 0.1s all;
    position: relative;
    font-weight: 700;
    text-transform: uppercase;
}
.footer-menu li.current-menu-item a{
    color: #f8a230;
}
.footer-menu li a:hover {
    color: #f8a230;
}

ul#footer-menu li {
    width: auto;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.footer-social a {
    display: inline-flex;
    max-width: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    footer {
        padding: 20px 0;
    }
}

/* ====================================================================== */

/* MENU PAGE */
.content-menu-page{
    padding: 50px 0;
}

.content-menu-page .categorie-item {
    filter: grayscale(2);
    color: #000;
    transition: 0.3 all;
    text-align: center;
    cursor: pointer;
}
.content-menu-page .categorie-item .title{
    font-weight: 700;
    margin-top: 15px;
    text-transform: uppercase;
}
.content-menu-page .categorie-item img{
    max-width: 80px;
    display: block;
    margin: auto;
}

.content-menu-page .categorie-item.active {
    filter: unset;
    color: #f8a230;
}

.content-menu-page .categories {
    margin-bottom: 100px !important;
}

.content-menu-page .tabs-cat .tabs-cat-item {
    display: none;
}

.content-menu-page .tabs-cat .tabs-cat-item.active {
    display: block;
}

.content-menu-page .slick-prev:before,.content-menu-page .slick-next:before {
    color: #000 !important;
    font-size: 60px;
}
/* ====================================================================== */

@media only screen and (max-width: 800px) {
    .content-menu-page .slick-prev:before,.content-menu-page .slick-next:before {
        font-size: 30px;
    }
    .content-menu-page .categories {
        margin-bottom: 60px !important;
    }
}

@media only screen and (max-width: 600px) {
    .content-menu-page .slick-prev:before,.content-menu-page .slick-next:before {
        font-size: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .content-menu-page .slick-prev {
        left: 0;
    }
    .content-menu-page .slick-next {
        right: 0;
    }
}